body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

i {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  grid-column: 2/3;
  border-left: 2px solid black;
  border-right: 2px solid black;

}

.row {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  grid-column: 1/2;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  padding: 10px;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  cursor: pointer;
}
